@import "global/variables";

.additional {
  position: relative;
  padding: 27px 20px 35px;
  min-height: 965px;
}

.additional__title {
  padding-bottom: 34px;
  border-bottom: 1px solid $special-gray-3;

  &::after {
    position: absolute;
    top: 41px;
    right: 0;
    content: "";
    width: 53px;
    height: 2px;
    background-color: $green;
  }
}

.additional__list {
  margin-bottom: 34px;
}

.additional__promo-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 290px;
  position: relative;
  padding-top: 27px;
  padding-bottom: 43px;
  background-image: url("/img/gift-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $green;
    opacity: 85%;
  }
}

.additional__promo-text {
  position: relative;
  z-index: 2;
  font-family: "Arial";
  line-height: 20px;
  text-align: center;
  color: $white;

  &::before {
    content: url("/img/gift.svg");
    position: absolute;
    top: -128px;
    left: 50%;
    transform: translateX(-50%);
  }
}
