@import "./global/variables";

.main-nav {
  position: relative;
  min-height: 65px;
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    padding: 24px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.main-nav__logo-link {
}

.main-nav__logo-icon {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}

.main-nav__logo-text {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 4;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__menu--closed {
  display: none;
}

.main-nav__menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 3;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 36px;
    width: auto;
    position: static;
  }
}

.main-nav__menu--opened {
  display: flex;
}

.main-nav__menu--nojs {
  display: flex;
}

.main-nav__menu-item {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.main-nav__menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  padding-top: 7px;
  background-color: $white;
  border-top: 1px solid $border-gray;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    display: block;
    min-height: auto;
    padding-top: 0;
    border: none;
    font-weight: 400;
    line-height: 24px;
  }
}

.menu-toggle__icon--close {
  display: none;
}
