@import "./global/variables";

.page-footer__map-address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  padding: 26px 20px;
}

.page-footer__map-address--catalog,
.page-footer__map-address--form {
  background-color: $background-gray;
}

.page-footer__map-title {
  font-size: 16px;

  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

.page-footer__map-text {
  font-family: "Arial";
  font-size: 14px;
  line-height: 20px;
}

.page-footer__map-iframe {
  width: 100%;
}

.page-footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 20px 22px 20px;
}

.page-footer__logo {
  margin-bottom: 32px;
}

.page-footer__social-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 21px;
  padding: 19px 0;
  border-top: 1px solid $pseudo-gray;
  border-bottom: 1px solid $pseudo-gray;
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.page-footer__social-item {
  max-height: 24px;
  color: $special-gray-2;
}

.page-footer__developer-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
}
