@import "./global/variables";

.page__body {
  display: flex;
  justify-content: center;
  min-height: 100%;
  background-color: white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__container {
  width: 100%;
  max-width: $desktop-width;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}
