$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$white: #ffffff;
$border-gray: #e6e6e6;
$background-gray: #F2F2F2;
$text-dark-gray: #444444;
$black: #000000;
$filter-green: #68B738;
$green: #68B738;
