$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$white: #ffffff;
$border-gray: #e6e6e6;
$background-gray: #f2f2f2;
$background-gray-2: #eaeaea;
$text-dark-gray: #444444;
$black: #000000;
$green: #68b738;
